.button-back {
  position: absolute;
  top: 20px;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 50%), 0px 5px 10px 0px rgb(0 0 0);
  background-image: url(./btn-back.svg);
  color: white;
  padding-right: 10px;
  text-align: right;
  font-size: 16px;
  width: 148px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.button-back:hover {
  box-shadow: 0px 7px 10px 0px rgb(0 0 0 / 50%), 0px 5px 10px 0px rgb(0 0 0);
}
.button-back:active {
  box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 50%), 0px 5px 10px 0px rgb(0 0 0);
}
